.button {
  @include fluid-text(18, 16);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-dark);
  background: var(--color-gradient-left-to-rigth);
  border-radius: var(--border-radius);  
  border: none;
  outline: none;
  width: 260px;
  height: 62px;
  padding: 19px;

  @include hover {
    background: var(--color-gradient-rigth-to-left);
  }
}