.products {

  // .products__list

  &__list {

    @include tablet {
      --gridColumns: 2;
    }

    @include mobile {
      --gridColumns: 1;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  // .products__item

  &__item {
  }
}