.why {
  max-width: 1136px;
  margin-inline: auto;

  // .why__list

  &__list {
    gap: 100px;

    @include mobile {
      --gridColumns: 1;
      
      gap: 30px;
    }
  }

  // .why__item

  &__item {
  }
}