.why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  // .why-card__image

  &__image {
  }

  // .why-card__header

  &__header {
  }

  // .why-card__title

  &__title {
    @include fluid-text(24, 18);

    font-family: var(--font-family);
    font-weight: 600;
    text-align: center;
  }

  // .why-card__body

  &__body {
    @include fluid-text(16, 14);

    line-height: 1.4;
    text-align: center;
  }
}
