body {
  @include fluid-text(18, 16);
  
  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-light);
  background-color: var(--color-dark);

  @include tablet {
    background-image: url(./images/burgers_bg.png);
    background-position: center;
    background-size: contain
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}